  /* hind-700 - latin */
  @font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/hind/hind-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/hind/hind-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/hind/hind-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/hind/hind-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/hind/hind-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/hind/hind-v11-latin-700.svg#Hind') format('svg'); /* Legacy iOS */
  }

//  -[ HIND end ]-

// #
// #

/* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/public-sans/public-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/public-sans/public-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-regular.svg#PublicSans') format('svg'); /* Legacy iOS */
  }
  /* public-sans-600 - latin */
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/public-sans/public-sans-v7-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/public-sans/public-sans-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-600.svg#PublicSans') format('svg'); /* Legacy iOS */
  }
  /* public-sans-800 - latin */
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../../assets/fonts/public-sans/public-sans-v7-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/public-sans/public-sans-v7-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/public-sans/public-sans-v7-latin-800.svg#PublicSans') format('svg'); /* Legacy iOS */
  }

//  -[ PUBLIC SANS end ]-

// #
// #