.form-inputs_wrapper {
    display: flex;
    flex-direction: column;

    &--item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        &_number {
            position: relative;
        }

        &_number input {
            padding-left: 6.25rem;
        }
    }
}

.number-prefix {
    position: absolute;
    background: none;
    outline: 0;
    border: 0;
    left: 1.5rem;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;

    &_icon {
        margin-right: 0.75rem;
        font-size: 1.4375rem;
        transform: translateY(0.125rem);
    }
    &_placeholder {
        line-height: 1;
        font-size: 1rem;
        color: $gray-400;
    }
}
