.view-box {
    display: flex;
    flex-direction: row;
}

.view-box_content {
    width: 100%;
    @include media-breakpoint-up(md) {
        width: 34.5rem;
    }

    &--header {
        max-width: 34.5rem;
        h1 {
            font-family: "Hind", sans-serif;
            font-weight: 700;
            font-size: 2.875rem;
            line-height: 1.15;
            margin-bottom: 2.625rem;
            user-select: none;
            color: $black;
        }
    }

    &--body {
        &--body_row {
            position: relative;
            width: 100%;
            height: fit-content;
        }

        &--body_row h2 {
            font-size: 1rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 0.8125rem;
            color: $gray-900;
        }
    }

    &--footer {
        margin-top: 4.0625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &--footer div.placeholder {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

.view-box_image {
    width: 22.75rem;
    height: 45.625rem;
    margin-left: 4.3125rem;
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }
}

.view-box_content--body_row {
    position: relative;
    width: 100%;
    height: fit-content;

    h2 {
        font-size: 1rem;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 0.8125rem;
        color: $gray-900;
    }
}

.br-mt {
    margin-top: 2.625rem;
}
